@page
<div class="container">
    <div class="row p-1">
        <div class="col-1">Send To User Id</div>
        <div class="col-5"><input type="text" id="sendToUserInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script>
    document.getElementById("sendButton").disabled = true;
    var getChatHubUrl = '@Url.Action("GetChatHubUrl", "Home")';
    var setConnectionIdTouser = '@Url.Action("SetConnectionIdTouser", "Messages")';
    var sendMessage = '@Url.Action("SendMessage", "Messages")';
    var homeIndexUrl = '@Url.Action("Index", "Home")';
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
@{
    <script src="~/js/chat.js"></script>
}
